<% @trackers = Tracker.all.order(:name) %>

<div class="box tabular">
  <%= form_tag({ :controller => 'docx', :action => 'template_upload' }, multipart: true) do %>
  <p>
    <label>Tracker:</label>
    <%= select_tag :tracker, options_for_select(@trackers.map(&:name), :onchange => params[:tracker]) %>
  </p>
  <p>
    <label>File:</label>
    <%= file_field_tag :template %>
  </p>
  <p>
    <label>Action:</label>
    <%= select_tag :template_action, options_for_select(['Replace existing template', 'Add new template'], :onchange => params[:template_action]) %>
  </p>
  <p>
    <label>Use for all trackers:</label>
    <%= check_box_tag :use_for_all %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>
  <% end %>
</div>

<table class="list">
  <thead><tr>
    <th>Tracker</th>
    <th>Current Template</th>
  </tr></thead>

  <% @trackers.each do |tracker| %>

    <% paths = [] %>
    <% Dir.glob('files/export_docx/templates/*.docx').each do |path| %>
      <% filename = path.gsub('files/export_docx/templates/', '') %>
      <% paths << path if filename[0..tracker.name.length - 1] == tracker.name && (filename[tracker.name.length].to_i > 0 || filename[tracker.name.length] == '.') %>
    <% end %>

    <tr class="<%= cycle("odd", "even") %>">
      <td><%= tracker.name %></td>
      <td>
        <% paths.each do |path_to_file| %>
          <p><%= link_to path_to_file.gsub('files/export_docx/templates/', ''), { :controller => 'docx', :action => 'template_download', :path => path_to_file } %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>